{% extends 'base.html.twig' %}

{% block title %} Представители {% endblock %}

{% set page = 2 %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@AppBundle/Resources/public/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/timeline.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="/Resources/thirdparty/css/metisMenu.css" />
    
    <link rel="stylesheet" href="/Resources/thirdparty/css/morris.css" />

    <link rel="stylesheet" href="/Resources/thirdparty/css/font-awesome.min.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Список представителей </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <table><tbody>
				<tr><th>Имя пользователя</th><th>Полное имя (ФИО)</th><th>E-mail</th><th>Пол</th><th>Дата рождения</th><th>Место работы</th><th>Действия</th></tr>
				{% if not entities == null %}
				{% for user in entities %}
					<tr><td>{{ user.username }}</td><td>{{ user.fullname == NULL ? 'Не указано' : user.fullname }}</td><td>{{ user.email }}</td><td>{% if user.gender == 1 %}Женский{% elseif user.gender == 0 %}Мужской{% else %}Не указан{% endif %}</td><td>{{ user.birthday == NULL ? 'Не указана' : user.birthday|date("d/m/Y") }}</td><td>{{ user.job == NULL ? 'Не указано' : user.job }}</td><td><a href="presenters/{{ user.id }}">Редактировать</a></td></tr>
				{% endfor %}
				{% else %}
					<tr><td colspan="7" style="text-align: center;">В базе нет ни одного представителя. Вы можете добавить их, нажав на кнопку "Создать представителя" ниже.</td></tr>
				{% endif %}
			</tbody></table>
			<a class="button" href="presenters/add">Добавить представителя</a>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/Resources/thirdparty/js/metisMenu.min.js" type="text/javascript"></script>
    <script src="/Resources/thirdparty/js/raphael-min.js" type="text/javascript"></script>
    <script src="/Resources/thirdparty/js/morris.min.js" type="text/javascript"></script>

    {% javascripts '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}