{% extends 'nav.html.twig' %}

{% block title %}Презентации{% endblock %}

{% set page = 'presentations' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"> Список презентаций </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Презентации</div>
                <div class="panel-body">
                    <div class="checkbox text-right">
                    </div>
                    <div class="table-responsive">
                        <table id="presentations" class="table">
                            <thead><tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Шаблон</th>
                                <th>Дата создания</th>
                                <th>Создатель</th>
                                <th></th>
                            </tr></thead>
                            <tbody>
                            {% if presentations|length > 0 %}
                                {% for presentation in presentations %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ presentation.getName() }}</td>
                                        <td>{{ presentation.getTemplate() }}</td>
                                        <td>{{ presentation.getDate().format('Y-m-d H:i:s') }}</td>
                                        <td>{{ presentation.getAuthor().getUsername() }}</td>
                                        <td><a href="presentations/{{ presentation.id }}">Информация</a>
                                            <br><a href="presentations/edit/{{ presentation.id }}">Редактировать</a>
                                            <br>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="8" style="text-align: center;">"В базе нет ни одной презентации. Вы можете добавить презентацию, нажав на кнопку \"Добавить презентацию\" ниже."</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-default btn-lg btn-block" href="presentations/add">Добавить презентацию</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Группы</div>
                <div class="panel-body">
                    <div class="checkbox text-right">
                    </div>
                    <div class="table-responsive">
                        <table id="categories" class="table">
                            <thead><tr>
                                <th>#</th>
                                <th>Название</th>
                                <th></th>
                            </tr></thead>
                            <tbody>
                            {% if categories|length > 0 %}
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ category.getName() }}</td>
                                        <td><a href="categories/{{ category.id }}">Информация</a>
                                            <br><a href="categories/edit/{{ category.id }}">Редактировать</a>
                                            <br>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="8" style="text-align: center;">"В базе нет ни одной группы. Вы можете добавить группу, нажав на кнопку \"Добавить группу\" ниже."</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-default btn-lg btn-block" href="categories/add">Добавить группу</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Подгруппы</div>
                <div class="panel-body">
                    <div class="checkbox text-right">
                    </div>
                    <div class="table-responsive">
                        <table id="subcategories" class="table">
                            <thead><tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Группа</th>
                                <th></th>
                            </tr></thead>
                            <tbody>
                            {% if subcategories|length > 0 %}
                                {% for subcategory in subcategories %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ subcategory.getName() }}</td>
                                        <td>{{ subcategory.getCategory() == NULL ? '' :subcategory.getCategory().getName() }}</td>
                                        <td><a href="subcategories/{{ subcategory.id }}">Информация</a>
                                            <br><a href="subcategories/edit/{{ subcategory.id }}">Редактировать</a>
                                            <br>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="8" style="text-align: center;">"В базе нет ни одной подгруппы. Вы можете добавить подгруппу, нажав на кнопку \"Добавить подгруппу\" ниже."</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-default btn-lg btn-block" href="subcategories/add">Добавить подгруппу</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
