{% extends 'nav.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/app/css/modal.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/app/css/form_with_map.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
{% block title %}Редактировать лечебно-профилактическое учреждение{% endblock %}

{% set page = 'hospitals' %}

{% block main %}
    {% form_theme edit_form with 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Редактировать лечебно-профилактическое учреждение </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Изменение информации о лечебно-профилактическом учреждении</div>
                <div class="panel-body">
                    {{ form_start(edit_form, {'attr':{'class':'add-hospital-form'}}) }}
                    {{ form_row(edit_form.fullName) }}
                    {{ form_row(edit_form.territory) }}
                    {{ form_row(edit_form.address,{'attr':{'class':'value full-address'}}) }}
                    <!-- Button trigger modal -->
                    <div class="form-group">
                        <a href="#" id="address-button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        {% if edit_form.vars.value.address %}
                            Изменить адрес
                            {% else %}
                            Добавить адрес
                            {%  endif %}
                        </a>
                    </div>
                    <div class="hidden">
                        {{ form_row(edit_form.shortName,{'attr':{'class':'short-name'}}) }}
                        {{ form_row(edit_form.latitude,{'attr':{'class':'latitude'}}) }}
                        {{ form_row(edit_form.longitude,{'attr':{'class':'longitude'}}) }}
                        {{ form_row(edit_form.ka_region,{'attr':{'class':'ka-region'}}) }}
                        {{ form_row(edit_form.ka_district,{'attr':{'class':'ka-district'}}) }}
                        {{ form_row(edit_form.ka_city,{'attr':{'class':'ka-city'}}) }}
                        {{ form_row(edit_form.ka_street,{'attr':{'class':'ka-street'}}) }}
                        {{ form_row(edit_form.ka_building,{'attr':{'class':'ka-building'}}) }}
                    </div>
                    {{ form_end(edit_form) }}
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close-address-button close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="address row">
                                        <div class="col-lg-6">
                                            <form class="js-form-address">
                                                <div class="form-group">
                                                    <label class="control-label">Краткое наименование</label>
                                                    <input class="form-control" name="short-name" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Регион</label>
                                                    <input class="form-control" name="region" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Район</label>
                                                    <input class="form-control" name="district" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Город</label>
                                                    <input class="form-control" name="city" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Улица</label>
                                                    <input class="form-control" name="street" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Номер дома</label>
                                                    <input class="form-control" name="building" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Адрес</label>
                                                    <textarea readonly class="form-control value full-address" name="adress" type="text"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-lg-6">
                                            <div id="map" class="panel-map"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="save-address-button btn btn-default" data-dismiss="modal">Сохранить</button>
                                    <button type="button" class="close-address-button btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <a class="btn btn-default btn-lg btn-block" href="{{ path('hospitals') }}">Вернуться к списку</a>
                </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Удаление лечебно-профилактического учреждения</div>
                <div class="panel-body">
                    <p>Будьте внимательны: данное действие необратимо.</p>
                    {{ form(delete_form) }}
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="btn btn-default btn-lg btn-block" href="{{ path('hospitals') }}">Вернуться к списку</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/form_with_map.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        {% javascripts '@AppBundle/Resources/public/js/modal.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}